body{margin: 0;}
a{color: white; text-decoration: none;}
*{padding: 0;}
ul{list-style-type: none; }
li{display: inline-block;}
h1{margin: 0;}
button{font-family: 'Be Vietnam Pro'; font-size: 20px; border: none; background: none; width: auto; height: auto; color: white; cursor: pointer; text-align: center;}
